.new-amsterdam-title
{
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 200%;
}
.FormText
{
    font-size: large;
}
.FormImg
{
    width: 50%;
    aspect-ratio: 1.7;
    align-self: center;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: 3%;
}
.OutlinedText-light
{
    text-shadow:
    1px 1px 2px #000,
    -1px 1px 2px #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;
}
.OutlinedText-dark
{
    text-shadow:
    1px 1px 2px #fff,
    -1px 1px 2px #fff,
    -1px -1px 0 #fff,
    1px -1px 0 #fff;
}
.CommentAction
{
    text-decoration: none;
    font-size: 16px;
}
.CommentDate
{
    font-size: 10px;
}
.Text
{
    word-wrap: break-word;
}