<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Boa noite!!!</h1>

    <form method="post">
        nome:
        <input type="text" name="Name">
        senha:
        <input type="password" name="Password">
        email:
        <input type="text" name = "Email">
        <input type="submit">
    </form>
</body>
</html>