<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        <label for="Title">Título</label>
        <input type="text" name="Title" placeholder="Título do artigo">
        <label for="Content">Conteúdo</label>
        <textarea name="Content" placeholder="Escreva aqui..." cols="200" rows="30"></textarea>
        <input type="file" name="Image" accept="image/*">
        <input type="submit">
    </form>
</body>
</html>